/* Universal */

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: black;
	color: #FFC900;
	background-size: 20px 20px;
    background-image: linear-gradient(to right, #2e2e2e 1px, transparent 1px), 
    				  linear-gradient(to bottom, #2e2e2e 1px, transparent 1px);
    background-attachment: fixed;
    cursor: default;
}

h3{
	font-size: 1.5rem;
}

a {
	color: #FFC900;
}

a:hover{
	color: #CA5F00;
	text-decoration: none;
}

ul{
	list-style: none;
	padding: 0px;
	margin: 0px;

}

	ul.ml-auto{
		text-align: right;
	}

dl {
	padding: .5rem;
}

dt {
	margin-bottom: .5em;
}

dd {
	margin-left: 10px;
}
	dd a, dt a{
		padding: 5px;

	}

header {
	border-top: 5px solid;
	border-bottom: 5px solid;
	background-color: black;
	color: #FFC900;
	background-size: 20px 20px;
	background-image: linear-gradient(to right, #2e2e2e 1px, transparent 1px), 
    				  linear-gradient(to bottom, #2e2e2e 1px, transparent 1px);
    background-position: 0px -5px;
	z-index: 100;
}

nav {
	padding-top: 10px;
}

	nav h5 {
		text-align: center;
		padding-bottom: 5px;
		margin: 0px;
	}

	nav .dropdown {
		background-color: black;
	    border-top: 1px solid;
	}

aside {
	padding-top: 10px;
}

	aside h3 {
		text-align: center;
	}

	aside .carosel {
		background-color: black;
		border: 1px solid;
		padding: 10px;
	}

	aside .carosel:hover {
		border: 1px solid #CA5F00;
	}


		aside .carosel img {
			width: 100%;
		}

		aside .carosel .title {
			width: auto;
			margin: auto;
			padding-top: 5px;
			border-bottom: 1px solid;
			font-size: 24px;
			font-weight: 500;
		}

		aside .carosel p {
			padding-top: 1rem;
			padding-bottom: 1rem;
			margin: 0px;
		}

		aside .carosel:hover p{
			color: #FFC900;
		}

main {
	padding-top: 0px;
	background-color: black;
	border-right: 1px solid;
	border-left: 1px solid;
	height: 100vh;
}

footer {
	width: 100%;
	height: 100%;
	padding: 10px 0px;
	border-top: 1px solid;
	margin-top: -70px;
	/*background-color: red;*/
	z-index: 90;
	background-color: black;
	background-size: 20px 20px;
    background-image: linear-gradient(to right, #2e2e2e 1px, transparent 1px), 
    				  linear-gradient(to bottom, #2e2e2e 1px, transparent 1px);
    background-attachment: fixed;
}
	footer ul li {
		display: inline;
		padding-left: 5px;
		padding-right: 10px;
		border-right: 1px solid;
	}

	footer ul li:last-child {
		border: none;
	}

form label, form input, form textarea{
	margin-top: 1em;
	margin-bottom: 1em;
	display: inline;
}

button {
	width: 100%;
	/*height: 100%;*/
	margin: auto;
	/*border: 0px;*/
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	/*background-color: gray;*/
	color: black;

}

/*button:hover {
	border-left: 1px solid #FFC900;
	border-right: 1px solid #FFC900;
}*/

.dropdown-list {
	border: 1px solid;
	border-top: none;
}

/* Dropdown Button */
.dropbtn {
	position: relative;
    background-color: black;
    color: #FFC900;
    padding: 5px 16px;
    font-size: 16px;
    border: none;
    text-align: left;
    z-index: 10;
    outline: none;
}
	.dropbtn:hover {
		border: 0px;
		color: #CA5F00;
	}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    transition: height .5s;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: relative;
    background-color: black;
    min-width: 160px;
    width: 100%;
    border-top: 1px solid #CA5F00;
}

	 /*Links inside the dropdown */
	.dropdown-content a {
	    color: #FFC900;
	    padding: 0px 25px;
	    text-decoration: none;
	    display: block;
	    width: 100%;
	}

	.dropdown-content a:hover{
		color: #CA5F00;
	}



/* ID's */

#mainContent {
	padding-top: 70px;
	margin-bottom: 50px;
	height: 100vh;
}

#page {
	color: black;
	background-color: gray;
	padding: 1em;
	min-height: 545px;
	margin-top: 20px;
}

#relatedArticles {
	position: fixed;
	right: 0;
	text-align: center;
}

#welcome{
	background-image: url("/images/billetto-editorial.jpg");
	width: 100%;
	/*height: 100%;*/
	min-height: 625px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* Classes */
.apply .card-body {
	padding: 0px;
}

.apply .card-body button {
	background-color: gray;
	border: 0px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

.apply .card-body button:hover {
	border-left: 1px solid #FFC900;
	border-right: 1px solid #FFC900;
}

.apply .card-body .title {
	font-size: 18px;
	font-weight: 600;
}

.fancy-title{
	font-size: 30px;
	font-family: serif, sans-serif, Arial;
	font-style: italic;
	font-weight: 600;
}

/*.navbar{
	position: fixed;
	top: 0;
	width: 100%;
}*/
/* bootstrap overrides */
.card{
	margin-top: 50px;
	margin-bottom: 50px;
	color: black;
	background-color: gray;
	border: 1px solid #FFC900;
}
	
	.card-header{
		border-bottom: 1px solid #FFC900;
	}

	.card-header .back {
		float: right;
	}

.dropdown-menu{
	color: #FFC900;
	background-color: black;
	border: 1px solid #FFC900;
	min-width: 9rem;
	left: -50px;
	margin-top: 8px;
}

.dropdown-item{
	color: #FFC900;
}

.dropdown-item:hover{
	color: #C10000;
	background-color: black;
}

.mr-auto{
	padding: 0px;
}

.quicknav {
	position: fixed;
	left: 0;
	z-index: 80;
}


/* Gets rid of the blue outline on the selected accordian button */
.accordion-toggle:focus{outline-style: none;}
:focus{
	outline: none;
	box-shadow: none;
}
button:focus{
	outline: none;
}
/* Media */

@media (min-width: 1200px){
	.container {
		max-width: 890px;
	}	
}
